{% extends '@Articles/Default/base.html.twig' %}
{% block body %}
<div class="description">


    <div class="bxslider">
        <div>
            <img src="https://scontent-cdg2-1.xx.fbcdn.net/v/t31.0-8/335317_570672689612958_364265661_o.jpg?_nc_cat=0&oh=5f118f726d036b31f5918a02fa457488&oe=5B8BBB90"
                 alt="carte de la réunion">
        </div>
        <div>
            <img src="http://static.printemps.com/img_upload/PVOYAGES/DESTINATION/OCEAN%20INDIEN/REUNION/REUNION_3_630.jpg"
                 alt="la plage">
        </div>
        <div>
            <img src="http://www.ifrap.org/sites/default/files/SPIP-IMG/arton12240.jpg"
                 alt="la plage">
        </div>

        <div>
            <img src="https://images.salaun-holidays.com/(Image)-image-France-Reunion-Plage-Grande-Anse-94-fo_34031333-09032017.jpg"
                 alt="la plage">
        </div>

    </div>


    <div class="description-block">
    <h2 class="description-titre">Description de La Réunion</h2>

    <p>
        <strong>La Réunion</strong> est une île de l'Ouest de l'océan Indien dans l'hémisphère sud ainsi qu'un département
        d'outre-mer français.
        D'une superficie de 2 512 kilomètres carrés, La Réunion est située dans l'archipel des Mascareignes à environ 684
        kilomètres à l'est de Madagascar et à 172 kilomètres à l'ouest-sud-ouest de l'île Maurice. Il s'agit d'une île volcanique
        créée par un point chaud : culminant à 3 071 mètres au piton des Neiges, elle présente un relief escarpé travaillé par une
        érosion très marquée. Le piton de la Fournaise, situé dans le Sud-Est de l'île, est un des volcans les plus actifs du monde.
        Bénéficiant d'un climat tropical et située sur la route des cyclones, La Réunion abrite un endémisme exceptionnel.
    </p>

    <p>
        Vraisemblablement repérée dès le Moyen Âge par les Arabes sous le nom de « Dina Morgabin » (l’île couchant),
        La Réunion n'a été habitée qu'à compter du milieu du xviie siècle, soit environ 150 ans après son apparition sur
        les portulans des navigateurs portugais. Jusqu'alors connue sous le nom d'île Mascarin, elle devient sous celui
        d'île Bourbon une escale de la Compagnie française des Indes orientales sur la route des Indes puis, à partir des
        années 1710, une véritable colonie pratiquant la culture du café. Devenue une société de plantation, elle passe sous
        le contrôle direct du roi de France dans les années 1760 avant d'être réaffectée à l'industrie de la canne à sucre au
        terme des guerres napoléoniennes. Elle est définitivement rebaptisée de son nom actuel et l'esclavage y est aboli en
        18483, remplacé jusque dans les années 1930 par la pratique de l'engagisme.</br>
    </p>

    <p>
        L'île connait une crise économique rampante à compter des années 1870. Elle devient département français en 1946
        (code départemental 974). En dépit de son appartenance à la zone euro, son tissu productif reste structurellement
        fragile et fortement dépendant de la France métropolitaine. On y relève un taux de chômage particulièrement élevé,
        de l'ordre de 29 %, dont 60 % chez les jeunes. Le premier secteur économique de l'île est aujourd'hui le tourisme.
        Le PIB est estimé à 14,5 milliards d'euros, le revenu moyen par habitant étant d'environ 18 000 euros par an.</br>
    </p>

    <p>
        D'après le dernier recensement, la population était en janvier 2015 de 850 727 habitants5, principalement concentrés
        sur les côtes où se situent les principales villes dont Saint-Denis, le chef-lieu.</br>
    </p>

    <p>
        La démographie locale se caractérise par la jeunesse des habitants et leurs origines variées, à la fois européennes,
        ouest-africaines, est-africaines, malgaches, indiennes, annamites, malaises et chinoises. Cette diversité influence
        la culture réunionnaise caractérisée notamment par sa langue, le créole réunionnais, sa cuisine ou encore sa musique
        (séga, maloya, …).
    </p>

    </div>
</div>

    <a href="#" id="return-to-top" class="scrollToTop">
        <i class="fas fa-4x fa-angle-up">
        </i>
    </a>

{% endblock %}